<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form
        method="POST"
        th:action="@{/register}"
        th:object="${user}">
    <label>Nome:
        <input type="text" th:field="*{firstName}">
    </label>

    <label>Cognome:
        <input type="text" th:field="*{lastName}">
    </label>

  <label>Username:
    <input type="text" th:field="*{username}">
  </label>

  <label>Password:
    <input type="password" th:field="*{password}">
  </label>

    <button type="submit">Registrati</button>
    <a href="/">Indietro</a>
</form>
</body>
</html>