<html data-bs-theme="light" lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="${product.name}"></title>
    <style>
        input[type=text] {
          width: 100%;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid #212529;
          background-color: white;
          color:#212529;
          border-radius: 5px;
        }
        input[type=number] {
          width: 100%;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid #212529;
          background-color: white;
          color:#212529;
          border-radius: 5px;
        }

        textarea{
          width: 100%;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid #212529;
          background-color: white;
          color:#212529;
          border-radius: 5px;
        }



        input[type=text]:focus {
          background-color: white;
          border: none;
          border-bottom: 2px solid white;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/navbar :: navbar(area='catalog')"></nav>
<div class="row">
    <div class="col-5">
        <div class="w-100 d-flex justify-content-center align-items-center h-100">
            <div >
                <img th:src="${product.url}" class="img-fluid align-self-center" style="width:50vh; "/>
            </div>
        </div>
    </div>
    <div class="col-7 m-0 p-0">
        <div class= "shadow text-white bg-dark h-100" style="background-color: #fffff ">
            <div class="text-start p-5" style="width: 100%;">
                <div class="pb-5">
                    <h1 th:text="${product.name}"></h1>
                    <!-- stelle raiting -->
                    <div class="text-warning d-flex">
                        <div th:with="leftover=${5 - product.averageRating}">
                            <i th:if="${product.averageRating > 0}"
                               th:each="i : ${#numbers.sequence(0, product.averageRating - 1)}"
                               class="fa fa-star fs-5"></i>
                            <i th:if="${product.averageRating != 5}" th:each="i : ${#numbers.sequence(0, leftover - 1)}" class="fa fa-star-o fs-5"></i>
                        </div>
                        <h4 class="fs-5" th:text="|(${product.reviews.size()})|"></h4>
                    </div>

                    <h1 class="fs-3" th:text="|${product.price}€|"></h1>
                    <div class="row py-3">
                        <h4>Descrizione</h4>
                        <p class="col-5" th:text="${product.description}"></p>
                    </div>

                    <div sec:authorize="isAuthenticated()">
                        <form
                                class="row m-0 d-flex px-2"
                                method="post"
                                th:object="${order}"
                                th:action="@{/products/buy/{id}(id=${product.id})}"
                        >
                            <button class="col-4 border border-0 bg-white text-dark me-3" type="submit">COMPRA</button>
                            <input class="col-3 form-control" type="number" th:field="*{quantity}" style="width: 80px;"
                                   min="1" step="1" value="1"/>

                        </form>
                    </div>
                </div>
            </div>
            <section>
                <div class=" p-5" style="background-color: #7D8CC4;">
                    <div class="container">
                        <div sec:authorize="isAuthenticated()" class="row">
                            <div class="col">
                                <h4 class="text-start">Recensioni</h4>
                                <p class="text-start">Scrivi recensione</p>
                                <form
                                        method="POST"
                                        th:action="@{/products/{id}/review/create(id=${product.id})}"
                                        th:object="${review}"
                                >
                                    <label
                                            class="form-label">Titolo Recensione
                                        <input required class="" th:field="*{title}" placeholder="Titolo Recensione..." type="text"/>
                                    </label>

                                    <label class="form-label">Stelle
                                        <input required class="" type="number" min="0" max="5" th:field="*{stars}">
                                    </label>

                                    <label class="form-label" style="width: 100%;">Recensione
                                        <textarea required class="" th:field="*{description}" style="height: 100px;"></textarea>
                                    </label>

                                    <button class="col-4 border border-0 bg-dark text-white pe-3" style="width: 100%;">INVIA</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" p-5" style="background-color: #7D8CC4;">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div th:each="rev : ${product.reviews}" class="d-flex">
                                    <i class="fa fa-user-circle" style="font-size: 50px;margin-right: 20px;"></i>
                                    <div class="d-flex flex-column" style="width: 100%;">
                                        <div class="d-flex">
                                            <h5 class="d-inline text-capitalize pe-2 fst-italic fw-lighter" th:text="${rev.name}"></h5>
                                            <div class="d-inline text-end text-warning d-flex align-items-center">
                                                <div th:with="leftover=${5 - rev.stars}">
                                                    <i th:if="${rev.stars > 0}" th:each="i : ${#numbers.sequence(0, rev.stars - 1)}"
                                                       class="fa fa-star fs-6"></i>
                                                    <i th:if="${rev.stars != 5}" th:each="i : ${#numbers.sequence(0, leftover - 1)}"
                                                       class="fa fa-star-o fs-6"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <h3 class="text-uppercase mb-0" th:text="${rev.title}"></h3>
                                            <p class="mt-0" th:text="${rev.description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>

</div>
<section>
    <div class="bg-dark">
        <div class="row d-flex justify-content-center pt-5 pb-2">
            <div class="col-5">
                <div class="text-center text-white">
                    <h5 class="fs-3">Lorem Impsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sollicitudin mi, in dignissim
                        tortor.
                        Duis tristique tellus dui, porta consectetur mauris molestie at. In at felis gravida, consequat
                        augue
                        sed, ullamcorper libero. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark" style="height:80px;">
        <div class="container">
            <hr class="p-0 m-0 text-white">
            <div class="row pt-4 pb-3">
                <div class="col-4 text-white fs-5 d-flex justify-content-center ">
                    <i class="fa-brands fa-instagram px-2"></i>
                    <i class="fa-brands fa-facebook-f px-2"></i>
                    <i class="fa-brands fa-youtube px-2"></i>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="border-end border-2 px-3 ">
                        <a class="text-white link-underline link-underline-opacity-0" href="">Privacy</a>
                    </div>
                    <div class="px-3 ">
                        <a class=" text-white link-underline link-underline-opacity-0" href="">Terms of Use</a>
                    </div>
                </div>
                <div class="col-4 col-4 d-flex justify-content-center">
                    <a class="d-flex justify-content-center" href="https://imgbb.com/">
                        <img class="w-25" src="https://i.ibb.co/jG83DQ6/Layer-2.png" alt="Layer-2" border="0">
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>

</body>

</html>