<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">


<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark"
     th:fragment="navbar(area)">
    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100 px-2 m-0">
            <div class="d-flex m-0">
                <div class="align-self-center pe-2">
                    <a th:href="@{/}">
                        <img class="" style="width:50px;" src="https://i.ibb.co/jG83DQ6/Layer-2.png"
                             alt="Layer-2"
                             border="0">
                    </a>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    th:classappend="${#strings.equals(area,'catalog') ? 'active' : ''}"
                                    th:href="@{/}"
                            >Catalogo</a>
                        </li>

                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    th:classappend="${#strings.equals(area,'user-visits') ? 'active' : ''}"
                                    th:href="@{/visita-guidata}"
                            >Visite</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a
                                    class="nav-link"
                                    th:classappend="${#strings.equals(area,'storage') ? 'active' : ''}"
                                    th:href="@{/admin}"
                            >Magazzino</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a
                                    class="nav-link"
                                    th:classappend="${#strings.equals(area,'categories') ? 'active' : ''}"
                                    th:href="@{/admin/categories}"
                            >Categorie</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a
                                    class="nav-link"
                                    th:classappend="${#strings.equals(area,'visits') ? 'active' : ''}"
                                    th:href="@{/visita-guidata/admin/list}"
                            >Gestione visite</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- buttons -->
            <div class="">
                <div class="w-100 d-flex align-items-center justify-content-end"
                     sec:authorize="isAuthenticated()">
                    <h1 class="text-warning" sec:authentication="name"></h1>
                    <div class="vr mx-3"></div>
                    <a class="btn btn-warning" th:href="@{/logout}">Logout</a>
                </div>
                <div class="w-100 d-flex align-items-center justify-content-end"
                     sec:authorize="!isAuthenticated()">
                    <a class="btn btn-warning me-2" th:href="@{/login}">Login</a>
                    <a class="btn btn-warning " th:href="@{/register}">Registrati</a>
                </div>
            </div>
        </div>
    </div>
</nav>
</html>